// COLORS

$color-blue:#755cde;
$color-yellow:#f6a560;
$color-pink:#f39e9e;
$color-orange:#eb7565;
$color-green:#61c4b7;
$color-purple:#552049;
$color-black:#030303;
$color-gray:#7a746e;
$color-white:#fff7f0;